# Copy this file to .env and update values for your environment
PORT=4000
# Path to SQLite DB file (relative or absolute)
DB_FILE=./data/database.db
# Example: set to a public domain when deployed
PUBLIC_URL=http://localhost:4000
